/* .example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    background-color: white;
    margin-top: 10px;
    width: 70%;
  } */

  /* .example-form {
    min-width: 150px;
    max-width: 400px;
    width: 100%;
  }
   */
  .example-full-width {
    background-color: white;
    margin-top: 10px;
    margin-left: 5%;
    width: 40%;
  }
  .mat-radio-button ~ .mat-radio-button {
    margin-left: 20%;
    padding-right: 50px;
  }

  
  .example-full-width {
    width: 400px;
  }
  
  .form-label{
    color: white(240, 100, 0);
  }

  .modal-container {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white(167, 97, 229);
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }