

<div class="container" style="background-color: black;">
  <header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Football</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Cricket</a></li>
      <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link">About</a></li>
      
<!-- <a href="#" class="nav-link text-secondary">
    <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#home"></use></svg>
    Home
  </a> -->

  
    </ul>
  </header>
</div>

<!-- <app-cricket-landing-page></app-cricket-landing-page> -->
<app-new-cricket-match-page></app-new-cricket-match-page>
<!-- <app-match></app-match> -->